button:focus {
  outline: none;
  box-shadow: none;
}
.swiper-container {
  width: 100%;
}

.swiper-pagination {
  bottom: 0px !important;
  padding-top: 50px !important;
  padding-bottom: 10px;
}

.swiper-wrapper {
  height: 90% !important;
  padding-inline-start: 0;
}

::-webkit-scrollbar {
  display: none;
}

.filter-button {
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.appGalleryImage {
  transition: transform 1s;
}
.appGalleryImage:hover {
  transform: scale(1.1);
}

/******************
 * BEFORE & AFTER 
*******************/
.bas-img-container {
}
.bas-img {
  object-fit: 'cover';
  width: '100%';
  transition: transform 0.5s ease-out;
}

.bas-img-show {
  display: inline-block;
}
.bas-img-hide {
  display: none;
}

.bas-img-before-show {
  /* transform: translateX(0%); */
}
.bas-img-before-hide {
  /* transform: translateX(-100%); */
}

.bas-img-after-show {
  /* transform: translateX(-100%); */
}
.bas-img-after-hide {
  /* transform: translateX(0%); */
}
